<h2>Shopping list</h2>
<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (deleteEvent)="deleteIngredient()" (addEvent)="addIngredient($event)" [ingredient]="selectedIngredient"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a
            (click)="onSelect(ingredient)"
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients"
            >
                {{ ingredient.name }} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>